
<div xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"  layout:decorate="~{base_layout}" layout:fragment="~{body}" th:remove="tag">

    <div class="intro" style="background-image: url(/assets/images/bg3.jpg);">
        <div class="dtable hw100">
            <div class="dtable-cell hw100">
                <div class="container text-center">
                    <h1 class="intro-title animated fadeInDown"> Find and add your Ads </h1>

                    <p class="sub animateme fittext3 animated fadeIn">
                        Find local classified ads on bootclassified in Minutes
                    </p>



                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center;
    font-size: 24px;" th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner"><h2><span>Browse by</span>
                            Category <a href="" class="sell-your-item"> View more <i
                                    class="  icon-th-list"></i> </a></h2>
                        </div>
                    </div>


                    <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category" th:each="cat : ${categories}">
                        <a href="#"  >

                            <img  th:if="${cat.picName != null}" th:src="@{/getImages(picUrl=${cat.picName})}"
                                 class="img-responsive">
                            <h6 th:text="${cat.name}"></h6></a>
                    </div>

                </div>


            </div>
        </div>
    </div>









</div>
